.service-card {
    padding: 10px;
    border-radius: 10px;
    background: #31CCD3;
    transition: .5s;
   
}

.service-card:hover{
    box-shadow: 2px 11px 13px -7px #162F62;
}

.service-img img {
    border-radius: 10px;
    margin-bottom: 12px;
    width: 400px;
}

.service-title-details {
    padding: 10px 0px;
}

.service-title-details h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.service-title-details p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 1px;
}

.service-title-details span {
    font-weight: 700;
}

.service-title-details button {
    text-decoration: none;
    background-color: fff;
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 25px;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: .3s;
    display: inline-block;
    margin-top: 8px;
}

